<nav>
    <ul>
        <li>
            <input type="text" class="form-control" placeholder="Chave de acesso">
        </li>
        <li><button class="btn">Login</button></li>
    </ul>
</nav>
<section class="corpo"> 
    <div class="logo">
        <img src="assets/my-team-logo.png" alt="logo" width="500px">
    </div>
    <div class="descricao">
        <p>
           <strong>Meu time</strong> é uma ferramenta para vocês que ama futebol poder acompanhar as principais informações de todos os times e ligas do mundo. Para ter acesso singa os passo abaixo:</p>
        <ul >
            <li>O primiero passo é criar usa conta na <a href="https://dashboard.api-football.com/register" target="iframe">API Football.</a></li>
            <li>Entre com a chave de acesso no campo acima.</li>
        </ul>
    </div>
</section>

