nav{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    background-color: var(--preto);
    height: 70px;
}

.inpts{
    display: flex;
    width: 500px;
}

.btn{
    background-color: var(--principal);
    color: var(--branco);
}

section{
    height: calc(100vh - 70px);
    padding: 10px;
    background-color: var(--branco);
    display: flex;
    overflow-x: hidden;
    justify-content: center;
}
.content-body{
    width: 600px;
    max-width: 90vw;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.desc{
    min-width: 300px;
    background-color: var(--fundo);
    padding: 10px;
    border-radius: 10px;
    color: var(--sombra);
    
}

.desc ul li{
    padding: 10px;
}
.logo{
    width: 500px;
}



a{
    color: var(--principal);
    
}