<section>
    <nav>
        <ul>
            <li><img src="assets/my-team-logo.png" width="100px"></li>
    
        </ul>
    </nav>
    
   
    <div class="selects">
        <div class="m-2">
            <div class="p-1">País</div>
            <p-autoComplete [(ngModel)]="pais" [suggestions]="paisesFiltrados" (completeMethod)="filtraPaises($event)" (onSelect)="onSelect('pais')"
                field="name" [dropdown]="true">
                <ng-template let-countr pTemplate="item">
                    <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{countr.name}}</div>
                    <img src="{{countr.flag}}" style="width:32px;display:inline-block;margin:5px 0 2px 5px" />
                </ng-template>
            </p-autoComplete>
        </div>

        <div class="m-2">
            <div class="p-1">Temporada</div>
            <p-autoComplete [(ngModel)]="season" [suggestions]="seasonFiltrados" (completeMethod)="filtraSeasons($event)" [dropdown]="true" (onSelect)="onSelect('season')">
                <ng-template let-ses pTemplate="item">
                    <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{ses}}</div>
                </ng-template>
            </p-autoComplete>
        </div>
    
        <div class="m-2">
            <div class="p-1">Liga</div>
            <p-autoComplete [(ngModel)]="liga" [suggestions]="ligaFiltrados" (completeMethod)="filtraLiga($event)" (onSelect)="onSelect('liga')"
                field="name" [dropdown]="true" [disabled]= "disabledLeague">
                <ng-template let-league pTemplate="item">
                    <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{league.name}}</div>
                    <img src="{{league.logo}}" style="width:32px;display:inline-block;margin:5px 0 2px 5px" />
                </ng-template>
            </p-autoComplete>
        </div>
    
        <div class="m-2">
            <div class="p-1">Time</div>
            <p-autoComplete [(ngModel)]="time" [suggestions]="timesFiltrados" (completeMethod)="filtraTimes($event)" (onSelect)="onSelect('time')" 
                field="name" [dropdown]="true" [disabled]= "disabledTeam">
                <ng-template let-team pTemplate="item">
                    <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{team.name}}</div>
                    <img src="{{team.logo}}" style="width:32px;display:inline-block;margin:5px 0 2px 5px" />
                </ng-template>
            </p-autoComplete>
        </div>
    
        
    </div>

    <div *ngIf="!empty">
        <div class="form-group group-row">
            <div class="col-md-7 p-1">
                <div class="card ">
                    <h4>Jogadores</h4>
                    <table class="table tables-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">idade</th>
                                <th scope="col">Brasil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let play of players">
                                <td>
                                    <img src="{{play.photo}}" alt="img" style="width: 30px;">
                                </td>
                                <td>{{play.name}}</td>
                                <td>{{play.idade}}</td>
                                <td>{{play.nationality}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <div class="col-md-5 p-1">

                <div class="card mb-1">
                    <div class="d-flex align-items-center flex-column ">
                        <div class="logo">
                            <img src="{{tempTeam!.logo}}" alt="logo" width="200px">
                        </div>
                        <p><Strong>{{tempTeam!.name}}</Strong></p>
                    </div>
                </div>
                <div class="card">
                    <h4>Formações usadas</h4>
                    <table class="table tables-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Formação</th>
                                <th scope="col">Utilizadas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let line of lineups">
                                <td>{{line.formation}}</td>
                                <td>{{line.played}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card my-1">
                    <h4>Resultados</h4>
                    <table class="table tables-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Jogos</th>
                                <th scope="col">Vitórias</th>
                                <th scope="col">Derrotas</th>
                                <th scope="col">empates</th>
                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of results">
                                <td>{{res.played}}</td>
                                <td>{{res.wins}}</td>
                                <td>{{res.draws}}</td>
                                <td>{{res.loses}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card ">
                    <h4>Gols por Tempo de jogo</h4>
                    <canvas id="MyChart">{{chart}}</canvas>
                </div>
            </div>

           
        </div>
        
        
    </div>

    <div class="empty" *ngIf="empty">
        <p>
            Nenhum dado foi encontrado!! Preencha os campos
        </p>
        <img src="assets/img.webp" alt="" width="300px">
        
    </div>
 
    <div class="loading-bg" *ngIf="loading">
        <div class="loading-center">
            <div class="loader"></div>
        </div>
    </div>

</section>


    <!-- detalhes time -->
    <!--     
        <div class="card">
            <div class="logo">
                <img src="{{pais!.flag}}" alt="logo-time" style="width: 200px;">
            </div>
            <div class="descricao">
                <p>Nome: Manchester United</p>
                <p>País: England</p>
                <p>Fundação: 1878</p>
                <p>Endereço: Sir Matt Busby Way,</p>
                <p>cidade: Manchester</p>
            </div>
        </div> -->
    <!-- detalhes escalação -->
